#YTItem .image img {
    width: 100%;
}

.tp-dottedoverlay {
    /*slider overlay delete*/
    opacity: 0;
}

.flexible {
    display: flex;
}

.paybalance {
    background: #3e4095;
    font-family: 'BPG Nino Mtavruli';
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    padding-bottom: 8px;
    color: #FFF;
    border: 0px;
}

.chooseCity {
    display: none;
}

.chooseCity select {
    font-family: 'BPG Arial';
}

.chooseAddress {
    display: none;
}

.chooseAddress input {
    font-family: 'BPG Arial';
}

[name='shipping_city'] {
    font-family: 'BPG Arial';
}

.flex {
    flex: 1;
}

#CartSide {
    position: relative;
    z-index: 11;
}

.overflow {
    overflow: hidden;
}

.videoDiv {
    width: 100%;
    height: 100%;
}

.pageTimer {
    display: inline-block;
    font-size: 18px;
    font-family: 'BPG Arial';
    color: #0a365e;
}

.pageTimer strong {
    float: left;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #cececf;
}

.pageTimer span {
    display: block;
}

.pageTimer strong:last-child {
    border-right: 0px;
}

#forTimerp {
    text-align: center;
    margin-bottom: -44px;
    overflow: hidden;
    margin-top: 10px;
}

[name='shipping_service'],
.cart_city {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    background: #fff;
    border: 1px solid #e4e4e4;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'BPG Arial' !important;
    font-size: 16px;
}

.videoDiv .image,
.videoDiv .image img {
    width: 100%;
    height: 100%;
}

.subscribeCategories {
    list-style: none;
}

.subscribeContent {
    background: url('../images/subscribeBg.png');
}

.subscribeHeading {
    position: relative;
    z-index: 2;
    margin-left: 30px;
    font-family: 'BPG Nino Mtavruli';
    color: #0a365e;
    font-size: 22px;
    margin-top: 30px;
}

.basketgiftIcon {
    position: absolute;
    right: 0;
    top: 30px;
}

.dziritadi_info input[type=checkbox] {
    visibility: hidden;
}

.dziritadi_info {
    height: 24px;
    position: relative;
    position: relative;
    z-index: 2;
}

.dziritadi_info label {
    cursor: pointer;
    position: relative;
    float: left;
    margin-right: 6px;
    height: 19px;
    left: 4px;
    top: 4px;
    background: url('../images/subscribeCheck.png')no-repeat;
}

.dziritadi_info input[type=checkbox]:checked+label {
    background: url('../images/subscribeChecked.png')no-repeat;
}

.dziritadi_info span {
    padding-left: 30px;
    position: relative;
    top: -3px;
    font-size: 16px;
    color: #3e4095;
    font-family: 'BPG Arial';
}

.subscribeBullet input[type=checkbox] {
    visibility: hidden;
}

.subscribeBullet {
    height: 24px;
    margin-bottom: 11px;
    margin-left: 50px;
    position: relative;
    position: relative;
    z-index: 2;
}

.subscribeBullet label {
    cursor: pointer;
    position: relative;
    float: left;
    margin-right: 6px;
    height: 19px;
    left: 4px;
    top: 4px;
    background: url('../images/subscribeCheck.png')no-repeat;
}

.subscribeBullet input[type=checkbox]:checked+label {
    background: url('../images/subscribeChecked.png')no-repeat;
}

.subscribeBullet span {
    padding-left: 30px;
    position: relative;
    top: -3px;
    font-size: 16px;
    color: #0a365e;
    font-family: 'BPG Arial';
}

.subscribePicture,
.posterShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
}

.posterShadow {
    z-index: 1;
}

.subsMarginBottom {
    margin-bottom: 200px;
}

.subscribePicture img {
    width: 100%;
    height: 100%;
}

.subscribeOrigin {
    position: relative;
    z-index: 2;
}

#SubscribeModal .modal-content {
    overflow: hidden;
}

.subchoose {
    font-size: 31px;
    color: #0a365e;
    font-family: 'BPG Nino Mtavruli';
    position: absolute;
    top: 31%;
    z-index: 10;
    right: 13%;
}

.colorWhite {
    color: white !important;
}

.addSubscribe {
    width: 180px;
    height: 42px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #f6f6f6;
    color: #0a365e;
    font-size: 18px;
    font-family: 'BPG Arial';
    position: absolute;
    left: 50%;
    margin-left: -90px;
    bottom: 24px;
    z-index: 10;
    border: 0px;
}

.discard_subscribe {
    font-family: 'BPG Nino Mtavruli';
    font-size: 15px;
    color: #3e4095;
    display: block;
    cursor: pointer;
    margin-top: 20px;
}

.vacancyDiv {
    text-align: left;
    margin-bottom: 80px;
}

.vacancyHeading {
    text-align: left !important;
    font-size: 24px;
    font-family: 'BPG Nino Mtavruli Bold';
    color: #3e4095;
    margin-bottom: 40px;
}

.vacancyShares {
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
}

.vacancyDescription {
    font-size: 16px;
    color: #3e4095;
    font-family: 'BPG Arial';
    line-height: 25px;
    margin-bottom: 40px;
}

.vacancyDescription ul {
    list-style: none;
    margin-left: 0px;
}

.vacancyDescription li {
    background: url('../images/vacancyBullet.png')no-repeat left center;
    padding-left: 50px;
}

.vacancySend {
    text-align: left !important;
    color: #3e4095;
    font-size: 24px;
    font-family: 'BPG Nino Mtavruli Bold';
    margin: 0px;
}

.cvForm .col-md-8 {
    position: relative;
    top: -10px;
}

.cvInput {
    color: #3e4095;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    font-family: 'BPG Nino Mtavruli';
    width: 100%;
    margin-bottom: 65px;
    border: 0px;
    border-bottom: 1px solid #3e4095;
}

.hrPhoto {
    position: relative;
    top: -48px;
    float: right;
    overflow: hidden;
    border-radius: 100%;
    border: 3px dotted #dcdee3;
    padding: 15px;
}

.hrPhoto form#cropimage {
    width: 190px;
    height: 190px;
    margin-bottom: 0px !important;
    overflow: hidden;
    border-radius: 100%;
}

.hrPhoto form#cropimage span {
    top: 0px;
    left: 0px;
    height: 190px;
    width: 190px;
    padding-top: 65px;
}

.hrPhoto div#cropimagecontainer {
    height: 190px;
}

.cvForm {
    margin: auto;
    margin-top: 70px;
    float: none !important;
}

.marginAutoCv {
    margin: auto;
    float: none !important;
}

.marginAutoCv .col-md-4,
.marginAutoCv .col-md-8 {
    padding-top: 65px;
}

.cvCategories {
    position: relative;
    font-size: 18px;
    color: #3e4095;
    font-family: 'BPG Nino Mtavruli';
    border-right: 1px solid #3e4095;
}

.cvBullet {
    position: absolute;
    right: -11px;
}

.cvCatInput {
    font-size: 16px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 40px;
    font-family: 'BPG Nino Mtavruli';
    color: #3e4095;
    padding-top: 8px;
    padding-bottom: 8px;
}

.cvTextareaspan {
    font-family: 'BPG Nino Mtavruli';
    color: #3e4095;
    font-size: 16px;
}

.cvTextarea {
    font-size: 16px;
    resize: none;
    font-family: 'BPG Nino Mtavruli';
    border: 0;
    width: 100%;
    height: 150px;
    background: #ebebeb;
}

.cvdisplayBlocked {
    overflow: hidden;
    display: block;
}

.floatFirstcvtext {
    float: left;
    display: inline-block;
    width: 160px;
}

.inputbullet input[type=radio] {
    visibility: hidden;
}

.inputbullet {
    height: 19px;
    position: relative;
    z-index: 2;
}

.inputbullet label {
    cursor: pointer;
    position: relative;
    float: left;
    margin-right: 6px;
    height: 18px;
    left: 4px;
    top: 4px;
    background: url('../images/cvBulletradio.png')no-repeat;
}

.inputbullet input[type=radio]:checked+label {
    background: url('../images/cvBulletradiochecked.png')no-repeat;
}

.inputbullet span {
    padding-left: 30px;
    position: relative;
    top: -3px;
    font-size: 14px;
    color: #3e4095;
    font-family: 'BPG Nino Mtavruli';
}

.cvdisplayBlocked ul,
.cvdisplayBlocked li {
    float: left;
    list-style: none;
}

.cvButtons {
    margin-top: 100px;
}

.cvDownload {
    float: left;
}

.cvSendCv {
    float: right;
}

.cv_order {
    float: right;
    padding: 9px 40px 4px;
    color: #3e4095;
    font-size: 24px;
    position: relative;
    top: -8px;
    border: 1px solid #3e4095;
    font-family: 'BPG Nino Mtavruli';
    color: #3e4095;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.cv_order:hover {
    color: white;
    background: #3e4095;
}

.cvButtons button {
    width: 262px;
    height: 56px;
    background-color: #fff;
    font-family: 'BPG Nino Mtavruli';
    border: 1px solid #3e4095;
    font-size: 18px;
    color: #3e4095;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.notfoundimg {
    display: none;
}

.cvButtons button:hover {
    background: #3e4095;
    color: white;
}

.onlineHelp {
    position: fixed;
    right: 20px;
    bottom: 0;
    color: black;
    font-size: 18px;
    font-family: 'BPG Nino Mtavruli';
    padding: 13px 30px 10px 30px;
    background: #3e4095;
    color: white;
    text-align: center;
    -webkit-border-radius: 16px 16px 0 0;
    -moz-border-radius: 16px 16px 0 0;
    border-radius: 16px 16px 0 0;
    -webkit-box-shadow: 0 -5px 9px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -5px 9px rgba(0, 0, 0, .15);
    z-index: 9999999999;
    box-shadow: 0 -5px 9px rgba(0, 0, 0, .15);
}

.linzaBullet input[type=checkbox] {
    display: none;
    visibility: hidden;
}

.linzaBullet {
    height: 24px;
    position: relative;
    top: -5px;
    z-index: 2;
}

div#ListingFeatureItem {
    font-size: 16px;
}

.linzaBullet label {
    cursor: pointer;
    font-size: 12px;
    position: relative;
    float: left;
    padding-left: 5px;
    height: 19px;
    top: 4px;
    background: url('../images/subscribeCheck.png')no-repeat center center;
}

.linzaBullet input[type=checkbox]:checked+label {
    background: url('../images/subscribeChecked.png')no-repeat center center;
}

.linzaBullet span {
    position: relative;
    left: -4px;
    top: 22px;
}

.main-slider li {
    position: relative;
}

.main-slider .slider-title {
    font-family: 'BPG Arial';
}

.breadcrumb>li>a {
    font-family: 'BPG Nino Mtavruli';
}

#SubscribeModal .modal-content {
    width: 60%;
}

.mobileFilters {
    display: block;
    position: absolute;
    right: 0;
    width: 30px;
    height: 41px;
    top: 26px;
    cursor: pointer;
    display: none;
    background: url('../images/mobileFilters.png')no-repeat;
}

.mobileDropDown {
    display: block;
    position: absolute;
    right: 0;
    width: 30px;
    height: 19px;
    top: 4px;
    cursor: pointer;
    display: none;
    background: url('../images/mobileDropDown.png')no-repeat;
}

.DropUp {
    background: url('../images/mobileDropUp.png')no-repeat;
}

.mobileClose {
    background: url('../images/mobileClose.png')no-repeat;
}

.myFloatLeft {
    float: left;
    padding-left: 5px;
    padding-right: 25px;
}

.forRegister {
    font-family: 'BPG Nino Mtavruli';
    padding-right: 15px;
    float: left;
    color: #3e4095;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

#RonikoCarousel.thirdCarousel {
    margin-bottom: 40px;
}

.floatRightshipping {
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
}

#contact-filiali .siteicon.email {
    height: 28px;
    background: url('../images/siteicontime.png');
}

#gifts {
    padding-right: 0px;
    padding-left: 0px;
}

#product-tryon {
    display: none;
}

.productPageGift .gift-item .col-md-4:nth-child(2) {
    padding-left: 15px;
}

.productPageGift .gift-item .col-md-4:first-child::after {
    display: none
}

.giftPlus {
    position: absolute;
    bottom: 0;
    right: -16px;
    font-size: 38px;
    font-family: 'BPG Arial 2010';
    color: #3e4095;
}

.productPageGift {
    position: relative;
    left: -35px;
}

.productPageGift .gift-item {
    padding: 0px;
}

.productPageGift .gift-item .ganvadeba-item {
    margin-top: 25px;
}

.sweet-alert button {
    font-family: 'BPG Arial 2010';
}

.sweet-alert button.confirm {
    background: #3e4095 !important;
}

#filiali-telephone {
    top: -10px;
}

#CartPage table.shop_table .product-name {
    width: 30%;
}

@media (max-width: 1760px) {
    p#quantity_wanted_p {
        display: inline-block;
        margin: auto;
        position: relative;
        left: 50%;
        padding-top: 10px;
        margin-left: -63px;
    }
    p#quantity_wanted_p label {
        text-align: center;
        float: none;
        display: block;
    }
    #forTimerp {}
}

@media(max-width: 1467px) {
    .pageTimer {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .myBasket {
        width: 100%;
    }
    #ProductInfo {
        width: 65%;
        padding: 15px;
    }
}

@media (max-width: 1145px) {
    .balanceAdd h3 {
        text-align: center;
    }
    .balanceAdd .inner-page-container {
        width: 300px;
        margin: auto;
    }
}

@media (max-width: 1024px) {
    .productWrapper .slick-prev,
    .productWrapper .slick-next {
        display: block !important;
    }
    #RonikoCarousel.thirdCarousel {
        padding-top: 50px;
    }
}

@media (max-width: 992px) {
    #ProductInfo {
        width: 100%;
    }
    #ProductGallery {
        margin: 0px;
        padding: 15px;
    }
    #productPageSocialSide {
        display: none;
    }
    #productFull {
        border: 0px;
        padding: 0px;
    }
    #dataPageContainer {
        width: 97%;
    }
    #productPageContent {
        right: 0px;
        width: 100%;
    }
    .myBasket #RightInfo {
        width: 100%;
    }
    .myBasket #RightInfo:after {
        width: 100%;
        box-shadow: 0px 0px !important;
    }
    #ProductsListing #dataPageContainer {
        width: calc(100% - 40px);
    }
    .product-item .product-buttons {
        visibility: visible;
        opacity: 1;
    }
    #ProductsListing .product-item {
        padding-bottom: 20px;
    }
    #filter-pricing {
        margin-top: 0px !important;
    }
    #filter-colors {
        margin-top: 20px !important;
    }
    h3.filter-title {
        position: relative;
        cursor: pointer;
    }
    .mobileHide {
        display: none;
    }
    #filter-pricing h3 {
        display: block;
    }
    .mobileFilters,
    .mobileDropDown {
        display: block;
    }
    .products-filters {
        display: none;
    }
    .gift-item .col-md-4 {
        float: left;
    }
    .productPageGift .giftPlus {
        bottom: -73%;
    }
    .productPageGift .gift-item .ganvadeba-item {
        margin-top: 20%;
    }
}

@media (max-width: 1200px) {
    #YTItem {
        display: block;
        width: 100%
    }
    .youtube-videogallery {
        display: block;
        padding-right: 0px;
    }
    .Input div .col-sm-5 {
        width: 100%;
    }
    #Auth #content #AuthForm .AuthContent .Input .col-sm-12 .col-sm-5:last-child {
        margin-right: 0px;
        margin-top: 36px;
    }
    #register_switcher label {
        float: left;
        /* width: auto; */
        /* margin-left: 35px; */
        float: left;
        width: auto;
        /* margin-left: 35px; */
        font-size: 20px;
        font-family: 'BPG Nino Mtavruli';
        font-weight: bold;
        color: #3e4095;
        margin-top: 0px;
        margin-left: 1%;
    }
}

@media (max-width: 990px) {
    #register_switcher label {
        float: left;
        /* width: auto; */
        /* margin-left: 35px; */
        font-size: 20px;
        font-family: 'BPG Nino Mtavruli';
        font-weight: bold;
        color: #3e4095;
        margin-top: 0px;
        /* margin-left: 44%; */
    }
}

@media (max-width: 800px) {
    #YTItem {
        display: block;
        width: 100%
    }
    .youtube-videogallery {
        display: block;
        padding-right: 0px;
    }
    .productPageGift .giftPlus {
        bottom: -50%;
    }
    .productPageGift {
        left: 0;
    }
}

@media (max-width: 600px) {
    .breadcrumb>li {
        display: block;
        float: left;
    }
    .forRegister {
        display: none !important;
    }
    #RelatedNews .newsItem {
        margin-left: 0px;
    }
    .subscribePicture {
        display: none;
    }
    .subscribeBullet span {
        font-size: 13px;
    }
    .subscribeHeading {
        font-size: 17px;
    }
    .modal-inner-content {
        width: 100%;
    }
    .modal-content {
        width: 90%;
    }
    a.shop-button.blue {
        width: 100%;
    }
    #gifts {
        padding-right: 0px;
        overflow: hidden;
    }
    .gift-item {
        height: auto;
    }
    .gift-item .col-md-4 {
        width: 100%;
    }
    .gift-item .col-md-4:last-child {
        width: 100%;
    }
    .gift-item .col-md-4:first-child:after {
        display: none;
    }
    #dataPageContainer {
        width: 100%;
        margin: 0px;
    }
    .productPageGift .giftPlus {
        position: relative;
        bottom: 0;
        display: block;
        text-align: center;
        right: 0;
        margin-top: 95px;
    }
    ul.social-login li {
        float: none;
        padding-right: 0px;
        width: 100%;
        text-align: center;
        display: block;
    }
    ul.social-login li:last-child {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        margin-top: 10px;
    }
    span#add-seperator {
        margin: 50px auto 20px;
    }
    #contact-filiali {
        position: relative;
        width: 100%;
        display: block;
        margin-top: 0px;
        min-height: 200px;
        box-shadow: 0px 0px 0px;
    }
    #map_container.contact-map {
        margin-top: 0px;
    }
    .contact-item {
        padding: 10px 30px;
    }
}

@media (max-width: 451px) {
    .shop_table th,
    .shop_table td {
        width: 100% !important;
        padding-left: 0px !important;
        display: block !important;
        text-align: center !important;
    }
    .shop_table th:last-child {
        display: none !important;
    }
}

@media (max-width: 500px) {
    #ButtonLogin {
        width: 100%;
    }
    .Input-footer2 a,
    .Input-footer a {
        width: 100%;
        display: block;
        margin-top: 10px;
        text-align: center;
    }
    .filter-checkbox input[type=checkbox]+label,
    .filter-checkbox input[type=radio]+label {
        display: initial;
        margin-left: 0px;
        padding-left: 30px;
        color: #3e4095;
        font-size: 13px !important;
        background-position: 0px 4px;
        background-image: url(/Public/pages/img/filter-checkbox.png);
        background-repeat: no-repeat;
        line-height: 16px;
        min-width: 22px;
        padding-top: 6px;
        min-height: 20px;
        margin-bottom: 0;
        cursor: pointer;
        font-weight: 400;
        padding-bottom: 0px;
        font-family: 'BPG Arial 2010';
        font-weight: bold;
    }
}

@media (max-width: 600px) {
    #SubscribeModal .modal-content {
        width: 90%;
    }
    .subscribeBullet {
        height: 24px;
        margin-bottom: 11px;
        margin-left: 28px;
        position: relative;
        z-index: 2;
    }
    .modal-inner-content {
        background: #f6f6f6;
        border-radius: 10px;
        border: 0px solid #f6f6f6;
        display: inline-block;
        width: calc(100% + 20px);
        /* margin-left: -10px; */
        position: relative;
    }
    #site-header .menu ul li.menu__item a {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    #register_switcher label {
        float: left;
        /* width: auto; */
        /* margin-left: 35px; */
        font-size: 20px;
        font-family: 'BPG Nino Mtavruli';
        font-weight: bold;
        color: #3e4095;
        margin-top: 4px;
        margin-left: 10px;
    }
}

@media (max-width: 370px) {
    #site-header .menu ul li.menu__item a {
        font-size: 15px;
    }
    #ButtonSaveEdit {
        font-size: 16px !important;
    }
    #ui-datepicker-div {
        margin-left: 0px !important;
        width: 100% !important;
        left: 0px !important;
        margin-top: 10px !important;
    }
    #dataPageContainer {
        width: 100%;
    }
    #site {
        padding-left: 0px;
        padding-right: 0px;
    }
    .onlineHelp {
        display: none;
    }
    .thirdCarousel {
        margin-top: 100px !important;
    }
    #promoblock-left-column a .img-banner {
        height: 270px !important;
    }
}

@media (max-width: 319px) {
    #buttons a.add-to-cart {
        padding-left: 0px;
    }
}

@media (max-width: 310px) {
    .balanceAdd .inner-page-container {
        width: 100%;
    }
    .balanceAdd input[type=submit] {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

#RightInfo #forTimerp {
    text-align: center;
    margin-bottom: 0px;
    overflow: hidden;
    margin-top: 10px;
}